{
  "singleQuote": false,
  "trailingComma": "all",
  "useTabs": true,         
  "tabWidth": 4,            
  "bracketSpacing": true,   
  "printWidth": 80,        
  "semi": true,            
  "arrowParens": "always"   
}
